body, html{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 70px;
    height: 100%;
}

button{
    padding: 20px 15px;
    font-size: 20px;
    color: black;

}

.titel{
    font-size: 60px;
    margin-bottom: 20px;
}

#nummer{
    font-size: 50px;
    margin-top: 25px 0;
}

.Bg{
    background-image: url("flight-flight-reacts.png");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.popup-content {
    background-color: #000;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.popup-content iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}